<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('dark_theme') %></h3>
    <div class="widget">
      <span id="change-dark-theme" onclick="changeDarkTheme()">切换模式</span>
    </div>
  </div>
<% } %>
