<div class="widget-wrap" id="menu-wrap" style="display: none;">
  <h3 class="widget-title">
    <%= __('menu') %>
  </h3>
  <div class="menu-box">
    <div class="widget" id="menu"></div>
  </div>
</div>