<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('oneword') %></h3>
    <button class="oneword-refresh" onclick="refresh()"></button>
    <div class="widget">
      <p id="hitokoto">:D 获取中...</p>
      <p style="text-align: right">—— 「<span id="from-work">:D 获取中...</span>」</p>
    </div>
  </div>
<% } %>
