<div class="widget-wrap">
  <h3 class="widget-title">最新评论</h3>
  <div class="widget v" id="recent-comment" style="padding: 0 20px 15px 15px;"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/md5@2.3.0/dist/md5.min.js"></script>
<script>
  const timeAgo = (date) => {
    let t = new Date().getTime() - date.getTime();
    const f = n => Math.floor(n);
    if (t > 691200000) {
      const pad = n => n.toString().length < 2 ? '0' + n : n;
      return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}`;
    }
    if (t >= 86400000) return `${f(t / 86400000)}天前`;
    if (t >= 3600000) return `${f(t / 3600000)}小时前`;
    if (t >= 60000) return `${f(t / 60000)}分钟前`;
    if (t >= 0) return `${f(t / 1000)}秒前`;
    return '刚刚';
  }
  const getRecentComment = setInterval(() => {
    if (typeof (AV) != 'undefined' && AV.applicationId) {
      clearInterval(getRecentComment);
      const query = new AV.Query('Comment');
      query.descending('createdAt');
      query.matches('url', /^((?!microblog).)*$/);
      query.limit(Number.parseInt('<%= theme.valine.recentNum %>'));
      query.find().then((comments) => {
        Promise.all(comments.map((comment) => fetch(comment.get('url')).then(resp => resp.text()))).then((texts) => {
          let res = '';
          texts.forEach((text, i) => {
            let t = text.slice(text.indexOf('og:title') + 19);
            t = t.slice(0, t.indexOf('\"'));
            const get = str => comments[i].get(str);
            res += `<div class="vcard"><img class="vimg" src="https://gravatar.loli.net/avatar/${MD5(get('mail'))}?d=robohash"><div class="vh"><span>${get('nick')}</span> ： <a href="${get('url')}" class="comment-from">「${t}」</a><div class="vtime">${timeAgo(get('insertedAt'))}</div><div class="comment-text">${get('comment')}</div></div></div>`
          })
          document.querySelector('#recent-comment').innerHTML = res;
        });
      });
    }
  }, 50);
</script>