#comments
  background: #fff
  box-shadow: 1px 2px 3px #ddd
  padding: article-padding
  @media mq-wide
    padding: 40px
  border-radius: 3px
  margin: block-margin 0
  a
    color: color-link

#comments.microblog
  .vpanel
    display: none