// Colors
DM-grey = #212121
DM-black = #191919
DM-font-color = #aaa

.dark-theme
    body
        background-color: DM-black
    #wrap
        background-color: DM-black
    .widget
        background-color: DM-grey
        color: DM-font-color
        border: 0
        a
            color: DM-font-color
    .widget-title
        text-shadow: none
        color: DM-font-color
    .oneword-refresh
        background-color: DM-black
        color: DM-font-color
    .article-category,.article-date
        text-shadow: none
        color: DM-font-color
        .article-category-link
            text-shadow: none
            color: DM-font-color
    .article-inner,.archive-article-inner
        background-color: DM-grey
        border: 0
        box-shadow: none
        .tags a
            color: DM-font-color
    .article-title,.archive-article-title
        color: DM-font-color
    .article-entry
        color: DM-font-color
        code,.tip
            background-color: #353535
    #comments
        box-shadow: none
        border: 0
        background-color: DM-grey
        color: DM-font-color
        pre
            background-color: #252525
            code
                color: DM-font-color
        .vat
            color: DM-font-color